/* About Section */
.about {
    background: #313552;
    border-radius: 0.5rem;
}

.card {
    border-bottom: 8px solid #f5ba09;
}

/* Global Properties */
html {
    scroll-behavior: smooth;
}

body {
    background: #252525;
    font-family: "Baloo Tamma 2", cursive;
}